@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing:border-box;
}

body{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin:0;
  min-height: 100vh;
  background-color: #fd79a8;
}

#container{
  position: fixed;
  bottom: 10px;
  right: 10px;

}
.toast{
  background-color:#e84393;
  border-radius:4px;
  color:white;
  padding:1.5rem;
  margin: 1rem;

}
button{
  font-family: inherit;
  border-radius:5px;
  border:none;
  background-color:#e84393;
  color: white;
  padding: 1rem;
}